## SET METHODS

In [3]:
#add()
fruits = {'Apple','Orange','Mango'}
fruits.add('Banana')
fruits

{'Apple', 'Banana', 'Mango', 'Orange'}

In [4]:
#Clear
colors={'Red','White','Blue'}
colors.clear()
colors

set()

In [5]:
#Copy
fruits1 = fruits.copy()
fruits1

{'Apple', 'Banana', 'Mango', 'Orange'}

In [6]:
#Difference
fruits2={'Cherry','Jamun','Apple'}
F=fruits.difference(fruits2)
F

{'Banana', 'Mango', 'Orange'}

In [7]:
#difference_update
#Remove the items that exist in both sets:
fruits.difference_update(fruits2)
fruits

{'Banana', 'Mango', 'Orange'}

In [9]:
#discard
#removing particular item
fruits.discard('Mango')
fruits

{'Banana', 'Orange'}

In [12]:
#intersection()
#Returns a set, that is the intersection of two or more sets
fruits = {'Apple','Orange','Mango'}
fruits2={'Cherry','Jamun','Apple'}
Z=fruits.intersection(fruits2)
Z

{'Apple'}

In [15]:
#intersection_update()
#Removes the items in this set that are not present in other, specified set(s)
fruits = {'Apple','Orange','Mango'}
fruits2={'Cherry','Jamun','Apple'}
fruits.intersection_update(fruits2)
fruits

{'Apple'}

In [18]:
#isdisjoint()
#Returns whether two sets have a intersection or not
fruits = {'Apple','Orange','Mango'}
fruits2={'Cherry','Jamun','Apple'}
Z=fruits.isdisjoint(fruits2)
Z

False

In [19]:
#issubset()
#Returns whether another set contains this set or not
Z={"a","r","m","b"}
Y={"f","a","m","l","n","r","b"}
Q=Z.issubset(Y)
Q

True

In [20]:
#issuperset()
#Returns whether this set contains another set or not
Z={"a","r","m","b"}
Y={"f","a","m","l","n","r","b"}
Q=Y.issuperset(Z)
Q

True

In [22]:
#pop()
#Removes an element from the set
fruits = {'Apple','Orange','Mango'}
fruits.pop()
fruits

{'Apple', 'Mango'}

In [23]:
#remove()
#Removes the specified element
fruits = {'Apple','Orange','Mango'}
fruits.remove('Mango')
fruits

{'Apple', 'Orange'}

In [24]:
#symmetric_difference()
#Returns a set with the symmetric differences of two sets
fruits = {'Apple','Orange','Mango'}
fruits2={'Cherry','Jamun','Apple'}
Z=fruits.symmetric_difference(fruits2)
Z

{'Cherry', 'Jamun', 'Mango', 'Orange'}

In [26]:
#symmetric_difference_update()
#inserts the symmetric differences from this set and another
fruits = {'Apple','Orange','Mango'}
fruits2={'Cherry','Jamun','Apple'}
fruits.symmetric_difference_update(fruits2)
fruits

{'Cherry', 'Jamun', 'Mango', 'Orange'}

In [29]:
#union()
#Return a set containing the union of sets
fruits = {'Apple','Orange','Mango'}
fruits2={'Cherry','Jamun','Apple'}
Z=fruits.union(fruits2)
Z

{'Apple', 'Cherry', 'Jamun', 'Mango', 'Orange'}

In [30]:
#update()
#Update the set with another set, or any other iterable
fruits = {'Apple','Orange','Mango'}
fruits3={'Grapes','Chiku'}
fruits.update(fruits3)
fruits

{'Apple', 'Chiku', 'Grapes', 'Mango', 'Orange'}